<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Chicago Businesses Database</h1>
            <p>Search chicago businesses by any keyword in our {{count}} records database</p>
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <select id="searchBySelectize" class="form-control mb-2" name="searchBySelectize">
                            <option value="All">All</option>
                            <option value="Company">Company Name</option>
                            <option value="Address">Address</option>
                            <option value="City">City</option>
                            <option value="State">State (Enter 2 letter state code)</option>
                            <option value="Zip">Zip Code</option>
                            <option value="County">County</option>
                            <option value="Phone">Phone Number</option>
                            <option value="Contact">Contact</option>
                            <option value="Email">Email</option>
                            <option value="Website">Website</option>
                        </select>
                        <select type="text" id="searchQuerySelectize" class="form-control mb-2"
                            placeholder="Search"></select>
                        <button type="button" class="btn btn-block btn-lg btn-dark" id="goSearch">Search</button>
                        <p id="searchInfo" class="mt-3"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row" id="resultsDiv"></div>
        <!-- this will show our spinner -->
        <div hidden id="spinner"></div>
    </div> <!-- /container -->
</main>

<script type="text/javascript">
    $("#goSearch").click(() => {
        if ($('#searchQuerySelectize')[0].selectize.getValue().length > 0 && $('#searchBySelectize')[0].selectize.getValue().length > 0) {
            loadBusinessData();
        }

    });

    $(document).keypress(function (e) {
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if (keycode == '13' && $('#searchQuerySelectize')[0].selectize.getValue().length > 0) {
            loadBusinessData();
        }
    });

    function highlighter(object1, keyword) {
        for (let [key, value] of Object.entries(object1)) {
            var dataPoint = value.toString();
            if (dataPoint.toLowerCase().includes(keyword.toLowerCase().toString())) {
                var pattern = new RegExp( keyword, 'gi' );
                dataPoint = dataPoint.replace(pattern, `<mark>${keyword}</mark>`);
                object1[key] = dataPoint;
            }
        }
        return object1;
    }

    function appendHTML(business, keyword) {
        var html = '<div class="col-md-8 mb-5">' +
            '<h3>' + business.Company + '</h3>' +
            '<hr>' +
            '<p class="mb-1"><strong>Address</strong>: ' + business.Address + ', ' + business.City + ', ' + business.State + ', ' + business.Zip + '</p>' +
            '<p class="mb-1"><strong>County</strong>: ' + business.County + '</p>' +
            '<p class="mb-1"><strong>Phone</strong>: ' + business.Phone + '</p>' +
            '<p class="mb-1"><strong>Website</strong>: ' + business.Website + '</p>' +
            '<p class="mb-1"><strong>Contact</strong>: ' + business.Contact + '</p>' +
            '<p class="mb-1"><strong>Title</strong>: ' + business.Title + '</p>' +
            '<p class="mb-1"><strong>Direct Phone</strong>: ' + business.Direct_Phone + '</p>' +
            '<p class="mb-1"><strong>Email</strong>: ' + business.Email + '</p>' +
            '<p class="mb-1"><strong>Sales</strong>: ' + business.Sales + '</p>' +
            '<p class="mb-1"><strong>Employees</strong>: ' + business.Employees + '</p>' +
            '<p class="mb-1"><strong>SIC Code</strong>: ' + business.SIC_Code + '</p>' +
            '<p class="mb-1"><strong>Industry</strong>: ' + business.Industry + '</p>' +
            '</div>';
        return html;
    }

    function loadBusinessData() {
        event.preventDefault();
        $('#spinner').removeAttr('hidden');
        var apiUrl = '/api/advsearch/' + $('#searchBySelectize')[0].selectize.getValue().trim() + '/' + $('#searchQuerySelectize')[0].selectize.getValue().trim();

        if ($('#searchBySelectize')[0].selectize.getValue().trim() === "All") {
            apiUrl = '/api/search/' + $('#searchQuerySelectize')[0].selectize.getValue().trim()
        }

        fetch(apiUrl).then((data) => {
            return data.json();
        }).then((res) => {
            $('#resultsDiv').empty();
            res.results.forEach((business) => {
                var highlightedObj = highlighter(business, $('#searchQuerySelectize')[0].selectize.getValue().trim());
                $('#resultsDiv').append(appendHTML(highlightedObj, $('#searchQuerySelectize')[0].selectize.getValue().trim()));
            });

            $('#searchInfo').text('Showing ' + res.rowCount + (res.rowCount === 1 ? ' result ' : ' results') + ' (' + res.processingTime + ')');
        }).then(() => {
            $('#spinner').attr('hidden', true);
        }).catch((err) => {
            console.log(err);
        });
    }

    $('#searchQuerySelectize').selectize({
        maxItems: 1,
        create: true,
        labelField: 'value',
        valueField: 'value',
        searchField: 'value',
        render: {
            option: function (item, escape) {
                return '<div>' + escape(item.value) + '</div>';
            }
        },
        onChange: function (value) {
            console.log(value);
        }
    });


    $('#searchBySelectize').selectize({
        onChange: function (value) {
            $.ajax({
                url: '/api/search/column/' + value,
                type: 'GET',
                contentType: 'json'
            }).then((response) => {
                $('#searchQuerySelectize')[0].selectize.clearOptions();
                $('#searchQuerySelectize')[0].selectize.load(function (callback) { callback(response); });
            });
        }
    });


</script>